.table {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex: 1;
    padding-top: 10px;
    color: rgb(75, 75, 75);
    height: 30px;
}

.elements {
    display: flex;
    flex: 8;
}

.column-big {
    flex: 5;
    align-content: center;
    height: 30px;
    padding-top: 2px;
    background-color: rgb(238, 238, 238);
}

.column-small {
    flex: 2;
    align-content: center;
    text-align: center;
    font-size: 13px;
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(221, 221, 221);
    padding-top: 6px;
}

.elements-row {
    display: flex;
}

.antigen-tag {
    font-weight: bold;
}

.name-field {
    display: flex;
    flex-direction: column;
    flex: 5;
}

.checkbox-group {
    font-size: 10px;
    border: 1px solid rgb(188, 188, 188);
}

.field-container {
    flex: 2;
}

.field {
    height: 25px;
    width: 97%;
}

.field-group {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.even-row {
    background-color: rgb(243, 243, 243);
}

.odd-row {
    background-color: rgb(253, 253, 253);
}

.center-text {
    padding-top: 8px;
    padding-left: 5px;
}
