.table {
    display: flex;
    flex-direction: column;
    min-height: 130px;
}

.header {
    display: flex;
    flex: 1;
    padding-top: 10px;
    color: rgb(75, 75, 75);
    height: 30px;
}

.elements {
    display: flex;
    flex: 8;
}

.column-big {
    flex: 5;
    align-content: center;
    height: 30px;
    padding-top: 2px;
    background-color: rgb(238, 238, 238);
}

.column-small {
    flex: 2;
    align-content: center;
    text-align: center;
    font-size: 13px;
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(221, 221, 221);
    padding-top: 6px;
}

.elements-row {
    display: flex;
    padding-bottom: 5px;
}

.antigen-tag {
    font-weight: bold;
}

.name-field {
    display: flex;
    flex-direction: column;
    flex: 5;
}

.checkbox-group {
    font-size: 11px;
    border: 1px solid rgb(188, 188, 188);
}

.field-container {
    flex: 2;
    max-height: 50px;
    align-items: center;
    display: flex;
}

.field {
    height: 85%;
    width: 97%;
    min-height: 35px;
}

.field-group {
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: flex-start;
}

.even-row {
    background-color: rgb(243, 243, 243);
}

.odd-row {
    background-color: rgb(253, 253, 253);
}

.center-text {
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 8px;
    max-height: 65px;
    align-items: center;
}

.global-entry-area {
    border: 1px solid rgb(195, 195, 195);
    border-radius: 4px;
    margin-top: 15px;
    padding: 10px;
}

.global-entry-title {
    font-size: 14px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgb(88, 93, 95);
    border-bottom: 1px solid rgb(220, 220, 220);
    margin-bottom: 3px;
}

.custom-text-area {
    border-radius: 3px;
    width: 99%;
    height: 70px;
}

.help-icon {
    color: rgb(38, 121, 255);
}

.icon-group-container {
    display: flex;
    flex-grow: 1;
    flex: 0.2;
    flex-direction: column;
    justify-content: space-between;
}

.icon-container {
    padding-left: 5px;
    display: flex;
    flex: 1;
    align-items: center;
}
