.cde table {
    border-collapse: collapse;
}

.cde table th {
    text-align: center;
    padding: 2px;
    white-space: nowrap;
}
.cde table td {
    padding: 12px;
}

#subnational .cde table th {
    text-align: center;
    padding: 2px;
    white-space: nowrap;
}

#subnational #custom-form-loader {
    color: #1c425c;
    font-size: 14px;
    margin: 20px;
    text-align: center;
    display: none;
    border-radius: 3px;
}

#subnational .cde table thead tr:nth-child(1) th {
    position: sticky;
    position: -webkit-sticky;
    top: 48px;
    background: #f5f5f5;
    z-index: 60;
}

#subnational .cde table thead tr:nth-child(2) th {
    position: sticky;
    position: -webkit-sticky;
    top: 71px;
    background: #f5f5f5;
    z-index: 60;
}

#subnational .cde table tbody tr th {
    position: sticky;
    position: -webkit-sticky;
    left: 235px;
    background: #f5f5f5;
    z-index: 50;
}

#leftBar {
    z-index: 100;
}

#subnational #Pagination {
    margin-top: 16px;
    font-size: 14px;
}

#subnational .pagination-next-orgUnitsTable:hover,
#subnational .pagination-pre-orgUnitsTable:hover {
    background: black;
    color: white;
    text-decoration: none;
}

#subnational .pagination-next-orgUnitsTable,
#subnational .pagination-pre-orgUnitsTable {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    cursor: pointer;
    color: #333;
    border: 1px solid transparent;
    border-radius: 2px;
    text-decoration: none;
}
#subnational .no-pag {
    cursor: default;
    color: #666 !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
    cursor: default;
}

#subnational .no-pag:hover {
    background: transparent;
}
